{% block content %} 
	<h1>Collections with Mixture</h1>
	<p>This project demonstrates an <em>alpha</em> feature available in Mixture.</p>
	<p>The <strong>Collections</strong> feature allows you to easily create, manipulate, paginate and query collections of data throughout a Mixture project. The feature has been inspired by <a href="http://jekyllrb.com/">Jekyll</a>, but is designed to be more dynamic.</p>
	<p>You can add more than one collection to a project and collection items can be authored in <em>markdown</em>, <em>haml</em> or <em>liquid</em>.</p>
	<p>This project is a simple primer, it has two collections which are being used to demonstrate a <strong>portfolio</strong> and a <strong>blog</strong>.</p>
	<div class="notes">
		<p>Documentation for <em>collections</em> will be released very soon, follow @<a href="http://twitter.com/teammixture">TeamMixture</a> for updates.</p>
		<p><em>Publish</em> &amp; <em>Convert to HTML</em> are temporarily disabled for projects using the collections feature while we take feedback.</p>
		<p>All images used within this project are courtesy of <a href="http://instagram.com/MikeKus/">Mike Kus</a>.</p>
	</div>
{% endblock %}